@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 230, 190;
    --background-end-rgb: 255, 100, 70;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.random-color:hover {
  animation: random-color 1s infinite;
}

@keyframes random-color {
  0% {
    color: #f00;
  }
  25% {
    color: #0f0;
  }
  50% {
    color: #00f;
  }
  75% {
    color: #ff0;
  }
  100% {
    color: #f0f;
  }
}

.nav-link:hover {
  transition: all 0.2s ease-in-out;
  transform: translateY(-2px);
}

.btn-pressed:hover {
  transition: all 0.2s ease-in-out;
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}